<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="in.ernet.iitr.divyeuec"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".ui.WifiLocatorActivity"
                  android:label="@string/wifiSS">
        </activity>

    
		<activity android:name=".ui.DeadReckoningActivity"
			android:label="@string/dead_reckoning_activity">
		</activity>
		
		<activity android:name=".ui.DeadReckoningTrainingActivity"
			android:label="@string/dead_reckoning_training_activity">
		</activity>
		
		<activity android:name=".ui.WifiSiteSurveyActivity"
			android:label="@string/wifi_site_survey_activity">
		</activity>
		
		<activity android:name=".ui.WifiRecordSamplesActivity"
			android:label="@string/wifi_record_samples_activity">
		</activity>
		
		<activity android:name=".ui.WifiSamplesShowActivity"
			android:label="@string/wifi_samples_show_activity">
		</activity>
		
		<activity android:name=".ui.LaunchActivity"
			android:label="@string/app_name">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>

</application>


<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>


</manifest> 